h2 {
  width: 100%;
  color: #00CF95;
}
ul {
  display: flex;
  list-style: none;
  align-content: flex-end;
  justify-content: space-between;
}
li{color: #0098ef;}
a {
  text-decoration: none;
}
li:hover{
border-bottom: 10px solid #6d0ad3 ;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.redes {
  width: 15%;
}

header {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  nav {
    width: 40%;
  }
}
main {
  margin-right: 100px;
  margin-left: 100px;
}
.about {
  display: flex;
  flex-wrap: wrap;

  .cv {
    display: flex;
    align-items: center;
  }
  div {
    width: 46%;
    margin: 2%;
  }
}
.portafolio {
  display: flex;
  flex-wrap: wrap;
  img {
    box-sizing: border-box;
    width: 23%;
    margin: 1%;
    border: 5px solid #d1ffa2;
  }
}
.servicios {
  .service {
    display: flex;
    flex-wrap: wrap;
    margin-right: 150px;
    margin-left: 150px;
    div {
      border-radius: 8px;
      border: 5px solid #d1ffa2;
      box-sizing: border-box;
      height: 220px;
      width: 46%;
      margin: 2%;
      background: #00cf95;
    }
  }
}
.blog {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 33%;
    background: #00cf95;
  }
  .center{
    display: flex;
    flex-direction: column;
    div{display: flex;}
  }
}
.contacto {
  display: flex;
  flex-wrap: wrap;
  form {
    box-sizing: border-box;
    width: 100%;

    margin-right: 100px;
    margin-left: 100px;
    input {
      border: 1px solid #00cf95;
      box-sizing: border-box;
      border-radius: 8px;
      width: 45%;
      margin: 2%;
      padding: 20px;
    }
    select {
      border: 1px solid #00cf95;
      box-sizing: border-box;
      border-radius: 8px;
      width: 45%;
      margin: 2%;
      padding: 20px;
    }
    textarea {
      border: 1px solid #00cf95;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 10px;
      width: 95%;
      margin: 2%;
    }
    button {
      margin-right: 40%;
      margin-left: 40%;
      width: 20%;
      height: 60px;
      color: white;
      font-size: 16px;
      background: #6d0ad3;
      border-radius: 8px;
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul{width: 40%;}
}
@media (max-width: 800px) {
  .container {
    max-width: 780px;
    background: red;
    margin: 0;
  }
  header {
    margin: 0;
  }
  main {
    margin: 0;
  }

  .portafolio {
    img {
      width: 98%;
      margin: 1%;
    }
  }
  .servicios {
    .service {
      div {
        width: 90%;
        margin: 5%;
      }
    }
  }
  .blog {
    div {
      width: 100%;
    }
  }
  .contacto {
    form {
      margin: 0;
      input {
        width: 96%;
      }
      select {
        width: 96%;
      }
    }
  }
}
